@keyframes titleOpacity {
    100% {
        opacity: 1;
    }
}

@keyframes arrowJump {
    100% {
        bottom: 3%;
        transform: translate(-50%, -3%);
    }
}

@keyframes cardWave {
    100% {
        opacity: 1;
    }
}

@keyframes headerSlip {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes downloadSlip {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateEnvelope {
    25% {
        top: 94%;
        left: 7%;
        transform: rotate(-225deg);
    }

    50% {
        top: 60%;
        left: 76%;
        transform: rotate(225deg);
    }

    75% {
        top: 5%;
        left: 90%;
        transform: rotate(-225deg);
    }
    100% {
        transform: rotate(225deg);
    }
}

@keyframes run {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -1213px;
    }
}

@keyframes move {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(1920px);
    }
}