@keyframes titleOpacity {
    100% {
        opacity: 1;
    }
}

@keyframes arrowJump {
    100% {
        bottom: 3%;
        transform: translate(-50%, -3%);
    }
}

@keyframes cardWave {
    100% {
        opacity: 1;
    }
}

@keyframes headerSlip {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes downloadSlip {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}