@media (min-width: 1200px) {
	.section_title {
		font-size: 3.3rem;
	}

	.header {
		&_avatar {
			height: 55%;
		}
	}

	.experience {
		&_box {
			&-label {
				font-size: 2rem;
			}
			&-input {
				font-size: 1.6rem;
			}
		}

		&_result {
			&-text,
			&-link {
				font-size: 2rem;
			}
		}
	}

	.contact {
		&_form {
			max-width: 700px;
		}
	}
}

@media (min-width: 1600px) {
	.header {
		.nav_link {
			font-size: 2.2rem;
		}
	}
}
