@use "./animations";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

.section-padding {
	padding: 5em 2.5em;
}

.underline {
	// border-bottom: 2px solid rgb(222, 147, 159);
	border-bottom: 2px solid rgb(112, 42, 159);
}

.fixed-position {
	position: fixed;
}

.section_title {
	color: #fff;
	font-size: 2.8rem;
	text-align: center;
	margin-bottom: 2.5em;
}

body {
	background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	// overflow: hidden;
}

:root {
	-mainbgc: #702a9f;
}

// Header styling

.header {
	position: relative;
	min-height: 100vh;
	background-image: url("../img/mountain-g206e1523b_640.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
	overflow: hidden;

	&_arrow {
		position: absolute;
		position: fixed;
		bottom: 3%;
		width: 50px;
		height: 50px;
		right: 3%;
		z-index: 99999;
		background: linear-gradient(
			135deg,
			rgba(0, 0, 0, 0.75),
			rgb(112, 42, 159, 0.7)
		);
		border: none;
		outline: none;
		padding: 0.75em;
		border-radius: 50%;
		font-size: 2rem;
		color: #fff;
		transition: transform .3s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&_icon {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translate(-50%, -5%);
		font-size: 3rem;
		background: none;
		border: none;
		color: #fff;
		padding: 0.2em;
		animation: arrowJump 1s linear 1s infinite;
		transition: color 0.3s;

		&:hover {
			color: #702a9f;
		}
	}

	&_shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(63, 31, 84, 0.3);
		z-index: -1;
	}

	&_box {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
	}

	&_avatar {
		height: 40%;
		border-radius: 50%;
		padding: 2em;
	}

	&_title {
		color: #fff;
		font-size: 4rem;
		text-transform: uppercase;
		padding-bottom: 0.5em;
		letter-spacing: 0.1em;
		text-align: center;

		&-win {
			position: relative;
			color: #702a9f;
		}
	}

	&_text {
		color: #fff;
		font-size: 2.2rem;
		font-weight: 600;
		text-align: center;
	}

	&_download {
		padding-top: 2.5em;
		width: 100%;
		text-align: center;
		margin-bottom: 8em;

		&-link {
			font-size: 2rem;
			color: #fff;
			text-decoration: none;
			border: 2px solid #702a9f;
			padding: 0.5em 1em;
			border-radius: 20px;
			font-weight: bold;
			background-color: rgba(0, 0, 0, 0.2);
			transition: background-color 0.3s, box-shadow 0.3s;

			&:hover {
				background-color: rgba(0, 0, 0, 0.5);
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
			}
		}
	}

	.nav {
		height: 8vh;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3em;

		&_list {
			position: absolute;
			right: 0;
			top: 0;
			list-style: none;
			width: 80%;
			height: 100vh;
			background-color: rgb(39, 30, 89);
			display: flex;
			transform: translateX(100%);
			z-index: 3;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: transform 0.3s;

			&.active {
				transform: translateX(0%);
			}
		}

		&_link {
			display: block;
			text-decoration: none;
			font-size: 1.8rem;
			font-weight: bold;
			padding: 1.5em;
			color: #fff;
			transition: color 0.3s;
			opacity: 0;

			&:hover {
				color: #702a9f;
			}
		}

		&_link-one.slide {
			animation: navSlide 2s linear 0.1s forwards;
		}
		&_link-two.slide {
			animation: navSlide 2s linear 0.2s forwards;
		}
		&_link-three.slide {
			animation: navSlide 2s linear 0.3s forwards;
		}
		&_link-four.slide {
			animation: navSlide 2s linear 0.4s forwards;
		}
		&_link-five.slide {
			animation: navSlide 2s linear 0.5s forwards;
		}
	}
}

	.burger {
		position: absolute;
		right: 2%;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: 4;

		&_line {
			width: 3em;
			height: 0.3em;
			margin: 0.7em;
			background-color: #fff;
			border-radius: 20px;
			transition: 0.3s;
		}

		&.active .burger_line:first-child {
			display: none;
		}

		&.active .burger_line:nth-child(2) {
			transform: rotate(-405deg);
			transform-origin: 22px 9px;
		}

		&.active .burger_line:nth-child(3) {
			transform: rotate(405deg);
			transform-origin: 29px -8px;
		}
	}


.about {
	min-height: 50vh;
	overflow: hidden;

	&_box {
		position: relative;
		padding: 2em;
		border-radius: 15px;
		margin-bottom: 3em;

		&-text {
			position: relative;
			text-align: center;
			color: #fff;
			font-size: 1.8rem;
			padding-bottom: 0.5em;
			line-height: 1.6em;
			letter-spacing: 1px;

			span {
				position: relative;
				display: inline-block;
			}
		}
	}

	&_card {
		position: relative;
		height: 450px;
		background-position: center;
		background-size: cover;
		background-color: (0, 0, 0, 0.7);
		border-radius: 15px;
		overflow: hidden;
		margin: 3em auto;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
		opacity: 0;

		transition: opacity 0.3s;

		&-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			font-size: 3rem;
			border: none;
			color: #fff;
			cursor: crosshair;
			z-index: 10;
		}

		&-information {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			height: 100%;
			padding: 3em;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.85);
			clip-path: circle(0% at 50% 90%);
			transition: clip-path 0.3s;
		}

		&-icon:hover ~ &-information {
			clip-path: circle(120% at 50% 90%);
		}

		&-interest {
			font-size: 2.5rem;
			color: rgb(222, 147, 159);
		}

		&-desc {
			text-align: center;
			padding-top: 3em;
			font-size: 1.5rem;
		}
	}

	.one {
		background-image: url("../../dist/img/mountains-5903352_640.jpg");
		animation: cardWave 1s linear 0.3s forwards;
	}

	.two {
		background-image: url("../../dist/img/stadium-189777_640.jpg");
		animation: cardWave 1s linear 0.6s forwards;
	}

	.three {
		background-image: url("../../dist/img/ps4-2326616_640.jpg");
		animation: cardWave 1s linear 0.9s forwards;
	}

	.first,
	.second {
		margin-bottom: 1em;
	}

	.third {
		color: rgb(222, 147, 159);
		font-weight: bold;
	}
}

.skills {
	position: relative;
	overflow: hidden;

	&_react {
		position: absolute;
		font-size: 3rem;
		opacity: 0.3;
		width: 100vw;
		font-weight: bold;
		animation: react 10s linear infinite;
	}

	&_card {
		position: relative;
		height: 400px;
		max-width: 280px;
		background-position: center;
		background-size: cover;
		background-color: (0, 0, 0, 0.7);
		border-radius: 15px;
		overflow: hidden;
		margin: 3em auto;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}

		&-one {
			background-image: url("../../dist/img/js.png");
		}

		&-two {
			background-image: url("../../dist/img/html.png");
		}

		&-three {
			background-image: url("../../dist/img/css.png");
		}

		&-four {
			background-image: url("../../dist/img/bootstrap.jpg");
		}

		&-five {
			background-image: url("../../dist/img/git.jpg");
		}

		&-six {
			background-image: url("../../dist/img/gulp.jpg");
		}

		&-seven {
			background-image: url("../../dist/img/language.jpg");
		}

		&-eight {
			background-image: url("../../dist/img/work.jpg");
		}

		&-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			font-size: 3rem;
			border: none;
			color: #fff;
			cursor: crosshair;
			z-index: 10;
		}

		&-information {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding: 3em;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.9);
			clip-path: circle(0% at 50% 90%);
			transition: clip-path 0.3s;

			&--interest {
				font-size: 2rem;
				color: #702a9f;
				font-weight: bold;
				margin-bottom: 1em;
				text-align: center;
				text-transform: uppercase;
			}

			&--desc {
				font-size: 1.5rem;
				text-align: center;
				line-height: 25px;
			}
		}

		&-icon:hover ~ &-information {
			clip-path: circle(120% at 50% 90%);
		}
	}
}

.contact {
	position: relative;
	overflow: hidden;

	&_form {
		position: relative;
		color: #fff;
		max-width: 500px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		background: linear-gradient(
			135deg,
			rgba(0, 0, 0, 0.75),
			rgba(0, 0, 0, 0.25)
		);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

		&-popup {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -200%;
			left: 0;
			height: 100%;
			min-width: 100%;
			background: linear-gradient(
				135deg,
				rgba(0, 0, 0, 0.85),
				rgb(64, 64, 94, 0.6)
			);
			backdrop-filter: blur(10px);
			border-radius: 10px;
			transition: top 0.5s;
			z-index: 999;
			overflow: hidden;

			&--text {
				text-align: center;
				font-size: 2rem;
				font-weight: bold;
				margin-bottom: 1em;
			}

			&--close {
				display: block;
				width: 120px;
				padding: 0.25em 1em;
				border-radius: 12px;
				border: none;
				color: #fff;
				background-color: #702a9f;
				font-weight: bold;
				font-size: 1.8rem;
			}

			&.show {
				top: 0;
			}
		}

		&-box {
			display: flex;
			flex-direction: column;
			padding: 2em 2em 0 2em;

			&--error {
				visibility: hidden;
				width: 90%;
				margin: 0 auto;
				padding-top: 0.5em;
				font-size: 1.2rem;
				color: rgb(222, 147, 159);
			}
		}

		&-box.error &-input {
			border: 1px solid rgb(222, 147, 159);
		}

		&-box.error &-textarea {
			border: 1px solid rgb(222, 147, 159);
		}

		&-box.error &-box--error {
			visibility: visible;
		}

		&-input {
			background-color: transparent;
			width: 90%;
			margin: 0 auto;
			padding: 0.5em;
			border-radius: 10px;
			outline: none;
			border: 1px solid #702a9f;
			color: #fff;
			font-size: 1.5rem;
		}

		&-label {
			font-size: 1.5rem;
			width: 90%;
			margin: 0 auto;
			padding-bottom: 0.5em;
		}

		&-textarea {
			width: 90%;
			margin: 0 auto;
			background-color: transparent;
			color: #fff;
			border-radius: 10px;
			min-height: 150px;
			max-height: 150px;
			border: 1px solid #702a9f;
			font-size: 1.5rem;
			outline: none;
			resize: none;
			padding: 0.5em;
		}

		&-btn {
			width: 90%;
			margin: 0 auto;
			padding: 0.5em;
			border-radius: 10px;
			color: #fff;
			font-size: 1.5rem;
			background-color: #702a9f;
			border: none;
			margin-bottom: 2em;
			transition: background-color 0.3s;

			&--send {
				width: 100%;
				background-color: transparent;
				border: none;
				color: #fff;
				font-size: 1.5rem;
				text-align: center;
			}

			&:hover {
				background-color: #713997;
			}
		}
	}

	&_links {
		font-size: 5rem;
		margin-top: 1em;
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
		margin-top: 0.5em;
		z-index: 999;

		&-github,
		&-linkedin {
			color: #fff;
			transition: transform 0.3s;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&_icon {
		display: none;
	}
}

.experience {
	overflow: hidden;
	&_background {
		background-color: rgba(0, 0, 0, 0.2);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
		padding: 2em;
		border-radius: 15px;
	}

	&_result {
		visibility: hidden;
		text-align: center;

		&-text {
			color: #fff;
			font-size: 1.5rem;
			margin-bottom: 1em;
		}

		&-link {
			font-size: 1.5rem;
			color: #fff;
			text-align: center;
		}
	}

	&_box.errorExp &_result {
		visibility: hidden;
	}

	&_box {
		display: flex;
		flex-direction: column;

		&-error {
			visibility: hidden;
		}

		&.errorExp &-input {
			border: 2px solid rgb(222, 147, 159);
		}

		&.errorExp &-error {
			visibility: visible;
		}

		&-label {
			font-size: 1.5rem;
			margin-bottom: 0.5em;
			text-align: center;
			color: #fff;
		}

		&-input {
			border-radius: 12px;
			border: 2px solid #702a9f;
			padding: 0.5em;
			font-size: 1.3rem;
			margin-bottom: 0.5em;
			outline: none;
		}

		&-btn {
			border-radius: 12px;
			padding: 0.5em 1em;
			background-color: #702a9f;
			color: #fff;
			font-size: 1.8rem;
			border: none;
			margin-bottom: 1em;
			margin-top: 0.5em;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				background-color: #713997;
			}
		}

		&-error {
			color: rgb(222, 147, 159);
			font-size: 1.2rem;
		}

		&-text {
			font-size: 2rem;
		}
	}
}

.footer {
	padding: 1em;
	text-align: center;
	border-top: 2px solid #702a9f;
	font-size: 1.5rem;
	color: #fff;
}

@import "./small";
@import "./medium";
@import "./large";
